.container {
    width: 40%;
    box-shadow: 0 0 12px;
    margin: 50px auto;
    padding: 50px 24px;
    border-radius: 20px;
    height: 380px;
    position: relative;
}

.sec-todo2 ul {
    padding: 0;
    list-style: none;
}

.sec-todo2 {
    border: 1px solid #00000042;
    border-radius: 8px;
    padding: 6px 16px;
    height: 248px;
    overflow-y: scroll;
    position: relative;
}

.sec-todo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    box-shadow: 0 0 16px #00000060;
    border-radius: 8px;
    position: relative;
}

.sec-todo input#todoInput {
    width: 100%;
    padding: 12px 12px;
    font-size: 16px;
    font-weight: 500;
    border-color: #009aff;
    margin: 0 0px;
    border-radius: 8px 0px 0px 8px;
}

.sec-todo button {
    width: 60px;
    font-size: 24px;
    background-color: #009aff;
    color: #fff;
    border-color: #009aff;
    cursor: pointer;
    border-radius: 0 8px 8px 0px;
}

.sec-todo2 ul li {
    margin: 0;
    border-bottom: 1px solid #00000042;
    padding: 16px 0;
}

.sec-todo2 ul li:nth-child(1) {
    padding-top: 0;
}

.sec-todo2 ul li button {
    float: right;
    margin: 0px 4px;
}

button.close-btn {
    background: #f00;
    border-color: #f00;
    color: #fff;
    padding: 4px 6px;
    font-size: 10px;
    border-radius: 3px;
    cursor: pointer;
}

button.edite-btn {
    background: #3eaf37;
    border-color: #3eaf37;
    color: #fff;
    padding: 3px 4px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .sec3 {
    text-align: end;
    margin-bottom: 20px;
}

button.allDeleteBtn {
    background: #f30000;
    border-color: #f30000;
    color: #fff;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 6px;
    cursor: pointer;
}

h3 {
    text-align: center;
    font-size: 20px;
    margin: 0 !important;
    font-family: monospace;
}